/*.notepadTextfield {*/
    /*display: block;*/
/*}*/

.App-sec-header {
    height: 20%;
    background-color: black;
}

.title {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: solid dimgrey;
    border-width: 0px 0px 1px 0px;
    box-sizing: border-box;
}


/*.title-ws {*/
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /*width: 60%;*/
    /*height: 100%;*/
    /*background-color: white;*/
    /*border: solid dimgrey;*/
    /*border-width: 0px 0px 1px 0px;*/
    /*box-sizing: border-box;*/
/*}*/


.App-textarea {
    height: 70%;
    background-color: white;
    padding: 5% 0% 0% 5%;
    /*border-top: dimgrey;*/
}

.note-title {
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
}

.date {
    width: 100%;
    height: 50%;
    background-color: white;
    text-align: center;
}

#titel {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 40px;
}


#datum {
    margin: 0;
    font-size: 16px;
}

#notes-heading {
    margin: 0;
    padding-top: 5%;
    /*font-weight: bold;*/
    font-style: italic;
    letter-spacing: 1px;
}


#notepad-heading {
    margin: 0;
    padding-top: 2.5%;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.note-textfield-title {
    width: 100%;
    height: 10%;
    /*padding: 4%;*/
}

.note-textfield {
    width: 100%;
    height: 75%;
    /*padding-left: 4%;*/
}

.note-area {
    width: 100%;
    max-height: 60%;
    /*padding-top: 4%;*/
    /*padding-left: 4%;*/
}

.note-text {
    /*padding: 10%;*/
    /*padding-top: 5%;*/
}

.notepad {
    height: 100%;
    width: 100%;
}

.notepad-wrapper {
    float: right;
    height: 100%;
    width: 100%;
    background-color: white;
}

.note-left {
    display: inline-block;
    height: 100%;
    width: 50%;
    background-color: white;
}

.note-right {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 50%;
    background-color: white;
}

.btnAdd {
    height: 15%;
    width: 100%;
    text-align: right;
}

.paragraph {
    height: 80%;
    max-width: 100%;
    width: 100%;
    hidden: overflow;
}

.title-right {
    height: 10%;
    max-width: 100%;
    width: 100%;
    hidden: overflow;
}


