/*body {*/
  /*height: 100vh;*/
/*}*/
/*div[id*='root'] {*/
  /*height: 100%;*/
/*}*/

/*h4 {*/
  /*font-size: 20px;*/
/*}*/

/*p {*/
  /*font-size: 15px;*/
/*}*/


.App-body {
  height: 100vh;
  font-family: 'Raleway', sans-serif;

}

.App-header {
  width: 100%;
  height: 10%;
  background-color: cyan;
}

.notes-header {
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: #2F4F4F;
  border: solid dimgrey;
  border-width: 0px 1px 0px 0px;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.title-header {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 70%;
  height: 100%;
  background-color: #2F4F4F;
  color: white;
}

.App-noteList {
  float: left;
  height: 90%;
  width: 30%;
  background-color: antiquewhite;
  border-right: 1px solid dimgrey;
  box-sizing: border-box;
}

.App-wrapper {
  float: right;
  height: 90%;
  width: 70%;
  background-color: green;
}

/*.App-sec-header {*/
  /*height: 20%;*/
  /*background-color: black;*/
/*}*/

/*.title {*/
  /*display: inline-block;*/
  /*width: 40%;*/
  /*height: 100%;*/
  /*background-color: yellow;*/
  /*border: solid dimgrey;*/
  /*border-width: 0px 1px 1px 0px;*/
  /*box-sizing: border-box;*/
/*}*/

/*.title-ws {*/
  /*vertical-align: top;*/
  /*display: inline-block;*/
  /*width: 60%;*/
  /*height: 100%;*/
  /*background-color: white;*/
  /*border: solid dimgrey;*/
  /*border-width: 0px 0px 1px 0px;*/
  /*box-sizing: border-box;*/
/*}*/


/*.App-textarea {*/
  /*height: 75%;*/
  /*background-color: white;*/
  /*padding: 5% 5% 0% 5%;*/
  /*!*border-top: dimgrey;*!*/
/*}*/

/*.note-title {*/
  /*width: 100%;*/
  /*height: 50%;*/
  /*background-color: white;*/
  /*text-align: center;*/
/*}*/

/*.date {*/
  /*width: 100%;*/
  /*height: 50%;*/
  /*background-color: white;*/
  /*text-align: center;*/
/*}*/

/*#titel {*/
  /*margin: 0;*/
  /*padding-top: 10%;*/
  /*font-size: 20px;*/
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
/*}*/


/*#datum {*/
  /*margin: 0;*/
  /*font-size: 16px;*/
/*}*/

/*#notes-heading {*/
  /*margin: 0;*/
  /*padding-top: 5%;*/
  /*!*font-weight: bold;*!*/
  /*font-style: italic;*/
  /*letter-spacing: 1px;*/
/*}*/


/*#notepad-heading {*/
  /*margin: 0;*/
  /*padding-top: 2.5%;*/
  /*font-weight: bolder;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
/*}*/


/*.note-textfield-title {*/
  /*width: 100%;*/
  /*height: 10%;*/
  /*!*padding: 4%;*!*/
/*}*/

/*.note-textfield {*/
  /*width: 100%;*/
  /*height: 10%;*/
  /*!*padding-left: 4%;*!*/
/*}*/

/*.note-area {*/
  /*width: 100%;*/
  /*max-height: 60%;*/
  /*!*padding-top: 4%;*!*/
  /*!*padding-left: 4%;*!*/
/*}*/

/*.note-text {*/
  /*!*padding: 10%;*!*/
  /*!*padding-top: 5%;*!*/
/*}*/

/*.notepad {*/

/*}*/
